<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!-- //login pop-up -->
    <form>
        <div class="popupbox" action="/login" method="POST">
            <div class="head">
                Sign up
                <button class="close" onclick="closePopup()" id="pop-close">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M6 18 17.94 6M18 18 6.06 6" />
                    </svg>
                </button>
            </div>
           
    
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br><br>
    
            <div class="email-error"></div>
    
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
    
            <div class="password-error"></div>
            <button>Sign up</button>
        </div>
    </form>
    
</body>
<script>
    const form = document.querySelector('form')
    const emailerror = document.querySelector('.email-error')
    const passworderror = document.querySelector('.password-error')
   
    form.addEventListener('submit', async(e)=>{
       e.preventDefault();//prevent from refreshing the page

       //reset errors
       emailerror.textContent = '';
       passworderror.textContent= '';




       //get the values
       const email = form.email.value;
       const password = form.password.value

    //    console.log(email,password)

    try {
        const res = await fetch('/signup',{
            method: 'POST',
            body:JSON.stringify({ email, password }),
            headers:{ 'Content-Type': 'application/JSON'}
        })
        const data = await res.json();
        console.log(data)
        if(data.errors){
            emailerror.textContent = data.errors.email;
            password.textContent = data.errors.password;
        }
        if(data.user){
            location.assign('/')
        }

        
    } catch (error) {
        console.log(error)
        
    }

    })


</script>
</html>